<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <title>Chat online</title>
</head>
<body>
        <h2>Chat online</h2>
        <div class="container">
            <div id="chat"> 
                
            
            </div>
            <br>
           
                <input type="text" placeholder="Digite seu Texto" id="msg">
                <br>
                <br>
               <input type="text" placeholder="Informe seu nome" id="username">
               <button onclick="SubmitServer()">Enviar perguntar</button>
         
                
         
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
         <script>
           
            let socket = io("http://localhost:5001");

            socket.on("disconnect", () => {
                        console.log("Desconectado");
            })

                    
           socket.on("mensagem", (data) => {
                  let chat = document.getElementById('chat')
                     let paragrafo = document.createElement("p");
                     chat.append(paragrafo);
                     paragrafo.innerHTML = `${data.username}: ${data.msg}`;
                     console.log(chat);
            })
           
                

            function SubmitServer(){
                let msgInput = document.getElementById('msg');
                let nameUserInput = document.getElementById('username');

                let msg = msgInput.value;
                let username = nameUserInput.value;

                console.log(msg);
                console.log(username);

                socket.emit("mensagem", {msg: msg, username: username})
                msg.innerHTML =  "";

                

                
            }

          
           
            
        </script>
        
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/public/js/bootstrap.min.js"></script>